:weather-container {
  padding: 20px;
  width: 100vw;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  position: relative;
  overflow: hidden;
}

.weather-container.day {
  background-image: url('https://img.freepik.com/free-photo/photorealistic-style-clouds_23-2151058945.jpg?t=st=1723102422~exp=1723106022~hmac=27b6168a7603409ee9e910f116514487648654455e13418e44fe7651a1e0d50c&w=826');
  background-size: cover;
  background-position: center;
  color: #000;
}

.weather-container.night {
  background-color: #2c3e50;
  color: #fff;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  z-index: 1;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  animation: blink 1.5s infinite alternate;
}

.weather-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  position: relative;
  z-index: 2;
  text-align: center;
}

.current-weather {
  margin-bottom: 20px;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.weather-details {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  font-size: 16px;
}

.forecast {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px 0;
  text-align: center;
}

.forecast.hourly, .forecast.daily {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.forecast-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.forecast-item {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forecast-item .weather-icon {
  width: 50px;
  height: 50px;
}

/* Responsive Design */
@media (max-width: 740px) {
  .weather-card {
    max-width: 100%;
    padding: 15px;
  }

  .weather-icon {
    width: 80px;
    height: 80px;
  }

  .forecast-item {
    min-width: 100%;
  }
}
